! Font options - ~/.fonts.conf seems to override this
! Resolution for Xft in dots per inch (e.g. 96)
!Xft.dpi:       128
! Type of subpixel antialiasing (none, rgb, bgr, vrgb or vbgr)
!Xft.rgba:      rgba
!Xft.antialias: 1
!Xft.hinting:   1
!Xft.autohint:  0
! What degree of hinting to use (hintnone, hintslight, hintmedium, or hintfull)
!Xft.hintstyle: hintslight

!#define FONTSIZE 12
!xterm*faceName: xft:PragmataPro:size=FONTSIZE:antialias=true:hinting=true:autohint=false:hintstyle=hintnone:dpi=96
!URxvt*font:     xft:PragmataPro:size=FONTSIZE:antialias=true:hinting=true:autohint=false:hintstyle=hintnone:dpi=96
!URxvt*boldFont: xft:PragmataPro:size=FONTSIZE:antialias=true:hinting=true:autohint=false:hintstyle=hintnone:dpi=96

! Extra options for xft font spec - ~/.fonts.conf seems to override this
!:antialias=false:hintstyle=hintfull

#define WINDOWGEOMETRY 90x20

! Colors

*.boldMode: true
*.colorBDMode: false

!Ayu dark colors
#define background  #0F1419
#define foreground  #B3B1AD
! Normal
#define black00     #01060E
#define red00       #EA6C73
#define green00     #91B362
#define yellow00    #F9AF4F
#define blue00      #53BDFA
#define magenta00   #FAE994
#define cyan00      #90E1C6
#define white00     #C7C7C7
! Bright
#define black01     #686868
#define red01       #F07178
#define green01     #C2D94C
#define yellow01    #FFB454
#define blue01      #59C2FF
#define magenta01   #FFEE99
#define cyan01      #95E6CB
#define white01     #FFFFFF


! Dotshare colors
*.color0:     black00
*.color8:     black01
!red
*.color1:     red00
*.color9:     red01
!green
*.color2:     green00
*.color10:    green01
!yellow
*.color3:     yellow00
*.color11:    yellow01
!blue
*.color4:     blue00
*.color12:    blue01
!magenta
*.color5:     magenta00
*.color13:    magenta01
!cyan
*.color6:     cyan00
*.color14:    cyan01
!white
*.color7:     white00
*.color15:    white01


! Dark
*.foreground:   foreground
*.background:   background
*.cursorColor:  foreground
*.blinktimeout: 500

*.font: xos4 Terminus:pixelsize=12:antialias=true:autohint=true
